/* GENERIC */

body {
  display: flex;
  flex-direction: row;
  position: relative;
  font-family: "Arvo", serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: url("https://zupimages.net/up/22/41/7i5a.png"), auto;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* GENERIC */

.backgroundimg {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.menu {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  overflow: hidden;
}

/* ABOUT ME PAGE*/

.aboutme {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  right: -65%;
  margin: 0;
  padding: 0;
  z-index: 998;
  color: #000000a6;
  box-shadow: -10px 2px 20px black;
  opacity: 1;
  background: linear-gradient(to top, #000000a6 0%, #000000a6 99vw) no-repeat;
  background-position: top;
  background-size: 100% 0;
  transition: color 2s, background-size 1.5s, right 1s ease-in-out;
  border-left: thin #000000;
  background-color: rgba(70, 70, 70, 0.09);
  overflow: hidden;
}
.aboutme.open {
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  transition: color 2s, background-size 1.5s, right 1s ease-in-out;
  color: rgb(255, 254, 208);
  background-size: 100% 100%;
  background-position: bottom;
  opacity: 1;
}

.aboutme:hover {
  cursor: url("https://zupimages.net/up/22/41/0p3w.png"), auto;
}

h1 {
  font-size: 0.8rem;
  margin: 0;
  padding: 1%;
  letter-spacing: 0.6em;
  background: linear-gradient(
      to top,
      #000000a6 0%,
      #000000a6 1px,
      transparent 1.1px
    )
    no-repeat;
  background-size: 0 100%;
  transition: background-size 1s ease;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-transform: uppercase;
}
h1:hover {
  background-size: 100% 100%;
}

.aboutmecontent {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 4rem;
  margin: 0;
  padding: 0;
  width: 75%;
  height: 100%;
  color: transparent;
  transition: color 1s;
}
.aboutme.open .aboutmecontent {
  margin: 0;
  padding: 0;
  height: 100%;
  animation: Slide_Up 2.5s ease;
  transition: color 3s;
  color: rgb(255, 254, 208);
}

/* ACHIEVEMENTS PAGE*/

.achievements {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: flex-start;
  max-width: 100%;
  width: 100%;
  height: 100%;
  right: -75%;
  margin: 0;
  padding: 0;
  z-index: 999;
  color: #000000a6;
  box-shadow: -10px 2px 20px black;
  opacity: 1;
  background: linear-gradient(to top, #000000a6 0%, #000000a6 99vw) no-repeat;
  background-position: top;
  background-size: 100% 0;
  transition: color 2s, background-size 1.5s, right 1s ease-in-out;
  border-left: thin #000000;
  background-color: #48484882;
  overflow: hidden;
}
.achievements.open {
  right: -10%;
  transition: color 2s, background-size 1.5s, right 1s ease-in-out;
  color: rgb(240, 246, 122);
  background-size: 100% 100%;
  background-position: bottom;
  opacity: 1;
}

.achievements:hover {
  cursor: url("https://zupimages.net/up/22/41/0p3w.png"), auto;
}
h2 {
  font-size: 0.8rem;
  margin: 0;
  padding: 1%;
  letter-spacing: 0.6em;
  background: linear-gradient(
      to top,
      #000000a6 0%,
      #000000a6 1px,
      transparent 1.1px
    )
    no-repeat;
  background-size: 0 100%;
  transition: background-size 1s ease;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-transform: uppercase;
}
h2:hover {
  background-size: 100% 100%;
}
.achievementscontent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  line-height: 3rem;
  margin: 0;
  padding: 0;
  width: 70vw;
  height: 100%;
  color: transparent;
  transition: color 1s;
  font-size: 0.9em;
}

.achievements.open .achievementscontent {
  padding: 0;
  animation: Slide_Up 3s ease;
  transition: color 3s;
  color: rgb(240, 246, 122);
}

/* CONTACT PAGE */

.contact {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: flex-start;
  max-height: 100%;
  width: 100%;
  height: 100%;
  right: -87%;
  margin: 0;
  padding: 0;
  z-index: 1000;
  color: #000000a6;
  box-shadow: -10px 2px 20px black;
  opacity: 1;
  background: linear-gradient(to top, #000000a6 0%, #000000a6 99vw) no-repeat;
  background-position: top;
  background-size: 100% 0;
  transition: color 2s, background-size 1.5s, right 1s ease-in-out;
  border-left: thin #000000;
  background-color: #c1c1c194;
}
.contact.open {
  right: -25%;
  transition: color 2s, background-size 1.5s, right 1s ease-in-out;
  color: rgb(239, 173, 98);
  background-size: 100% 100%;
  background-position: bottom;
  opacity: 1;
}

.contact:hover {
  cursor: url("https://zupimages.net/up/22/41/0p3w.png"), auto;
}

h3 {
  font-size: 0.8rem;
  margin: 0;
  padding: 1%;
  letter-spacing: 0.6em;
  background: linear-gradient(
      to top,
      #000000a6 0%,
      #000000a6 1px,
      transparent 1.1px
    )
    no-repeat;
  background-size: 0 100%;
  transition: background-size 1s ease;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-transform: uppercase;
}

h3:hover {
  background-size: 100% 100%;
}
.contactcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 5rem;
  margin: 0;
  padding: 0;
  width: 70%;
  height: 100%;
  color: transparent;
  transition: color 1s;
}
.contact.open .contactcontent {
  padding: 0;
  animation: Slide_Up 3s ease;
  transition: color 3s;
  color: rgb(239, 173, 98);
}
.links {
  display: flex;
  margin: 0;
  padding: 0;
  animation: Slide_Up 6s ease;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 50%;
}

@keyframes Slide_Up {
  0% {
    transform: translateY(10vh);
  }
  100% {
    transform: translateY(0);
  }
}

/* MEDIA QUERIES*/

@media screen and (max-width: 1200px) and (orientation: portrait) {
  h1,
  h2,
  h3 {
    padding: 5%;
    bottom: 0;
    background: none;
    font-size: small;
    writing-mode: horizontal-tb;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  .aboutme {
    flex-direction: column-reverse;
    align-items: center;
    right: 0;
    bottom: 70%;
    background: linear-gradient(to top, #000000a6 0%, #000000a6 99vw) no-repeat;
    background-position: top;
    background-size: 100% 0;
    transition: color 2s, background-size 1.5s, bottom 1s ease-in-out,
      right 1s ease-in-out;
    border-bottom: thin #000000;
  }
  .aboutme.open {
    right: 0;
    bottom: 0;
    background-size: 100% 100%;
    background-position: bottom;
    opacity: 1;
    transition: background-size 1.5s, bottom 1s ease-in-out;
  }

  .aboutmecontent {
    width: 70%;
    line-height: 2rem;
    font-size: x-small;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .aboutmecontent.visible {
    margin: 0;
    padding: 0;
    width: 70%;
    height: 100%;
  }
  .achievements {
    position: absolute;
    flex-direction: column-reverse;
    align-items: center;
    right: 0;
    bottom: 80%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000000a6 0%, #000000a6 99vw) no-repeat;
    background-position: top;
    background-size: 100% 0;
    transition: color 2s, background-size 1.5s, bottom 1s ease-in-out,
      right 1s ease-in-out;
    border-bottom: thin #000000;
    background-color: #48484882;
  }
  .achievements.open {
    right: 0;
    bottom: 0;
    background-size: 100% 100%;
    background-position: bottom;
    opacity: 1;
    transition: background-size 1.5s, bottom 1s ease-in-out;
  }

  .achievementscontent {
    width: 70%;
    height: 100%;
    line-height: 2rem;
    font-size: x-small;
    justify-content: center;
    align-items: center;
  }
  .achievementscontent.visible {
    margin: 0;
    padding: 0;
    width: 70%;
    height: 100%;
  }
  ul {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    padding-left: 5vw;
    margin: 0;
    justify-content: center;
  }

  .contact {
    position: absolute;
    flex-direction: column-reverse;
    align-items: center;
    right: 0;
    bottom: 90%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000000a6 0%, #000000a6 99vw) no-repeat;
    background-position: top;
    background-size: 100% 0;
    transition: color 2s, background-size 1.5s, bottom 1s ease-in-out;
    border-bottom: thin #000000;
    background-color: #c1c1c194;
  }
  .contact.open {
    right: 0;
    bottom: 0;
    background-size: 100% 100%;
    background-position: bottom;
    opacity: 1;
    transition: background-size 1.5s, bottom 1s ease-in-out;
  }

  .contactcontent {
    width: 100%;
    height: 100%;
    line-height: 2rem;
    font-size: x-small;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  h1,
  h2,
  h3 {
    bottom: 1px;
    background: none;
    font-size: smaller;
    writing-mode: horizontal-tb;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  .aboutme {
    flex-direction: column-reverse;
    align-items: center;
    right: 0;
    bottom: 70%;
    background: linear-gradient(to top, #000000a6 0%, #000000a6 99vw) no-repeat;
    background-position: top;
    background-size: 100% 0;
    transition: color 2s, background-size 1.5s, bottom 1s ease-in-out,
      right 1s ease-in-out;
    border-bottom: thin #000000;
  }
  .aboutme.open {
    right: 0;
    bottom: 0;
    background-size: 100% 100%;
    background-position: bottom;
    opacity: 1;
    transition: background-size 1.5s, bottom 1s ease-in-out;
  }

  .aboutmecontent {
    width: 100%;
    height: 80%;
    line-height: 2rem;
    font-size: x-small;
    justify-content: center;
    align-items: center;
  }
  .aboutmecontent.visible {
    height: 80%;
  }
  .achievements {
    position: absolute;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: end;
    right: 0;
    bottom: 80%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000000a6 0%, #000000a6 99vw) no-repeat;
    background-position: top;
    background-size: 100% 0;
    transition: color 2s, background-size 1.5s, bottom 1s ease-in-out,
      right 1s ease-in-out;
    border-bottom: thin #000000;
    background-color: #48484882;
  }
  .achievements.open {
    right: 0;
    bottom: 0;
    background-size: 100% 100%;
    background-position: bottom;
    opacity: 1;
    transition: background-size 1.5s, bottom 1s ease-in-out;
  }

  .achievementscontent {
    width: 70%;
    height: 80%;
    line-height: 0.5rem;
    font-size: x-small;
    justify-content: space-around;
    align-items: center;
  }
  .achievementscontent.visible {
    width: 70%;
    height: 80%;
    line-height: 0.5rem;
    font-size: x-small;
    justify-content: space-around;
    align-items: center;
  }

  ul {
    text-align: center;
    line-height: 2rem;
    margin: 0;
    padding: 0;
  }

  .contact {
    position: absolute;
    flex-direction: column-reverse;
    align-items: center;
    right: 0;
    bottom: 90%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000000a6 0%, #000000a6 99vw) no-repeat;
    background-position: top;
    background-size: 100% 0;
    transition: color 2s, background-size 1.5s, bottom 1s ease-in-out;
    border-bottom: thin #000000;
    background-color: #c1c1c194;
  }
  .contact.open {
    right: 0;
    bottom: 0;
    background-size: 100% 100%;
    background-position: bottom;
    opacity: 1;
    transition: background-size 1.5s, bottom 1s ease-in-out;
  }

  .contactcontent {
    width: 70%;
    height: 100%;
    line-height: 2rem;
    font-size: x-small;
    justify-content: center;
    align-items: center;
  }
}
