/* GENERIC */

body {
  display: flex;
  flex-direction: row;
  position: relative;
  font-family: "Arvo", serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* GENERIC */

.backgroundimg {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.menu {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  overflow: hidden;
}

/* ABOUT ME PAGE*/

.aboutme {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  right: -65%;
  margin: 0;
  padding: 0;
  z-index: 998;
  color: #000000a6;
  box-shadow: -10px 2px 20px black;
  opacity: 1;
  background: linear-gradient(to top, #000000a6 0%, #000000a6 99vw) no-repeat;
  background-position: top;
  background-size: 100% 0;
  transition: color 2s, background-size 1.5s, right 1s ease-in-out;
  border-left: thin #000000;
  background-color: rgba(70, 70, 70, 0.09);
  overflow: hidden;
}
.aboutmeopen {
  right: 0;
  bottom: 0;
  transition: color 2s, background-size 1.5s, right 1s ease-in-out;
}

.aboutme:hover {
  cursor: pointer;
  color: rgb(255, 254, 208);
  background-size: 100% 100%;
  background-position: bottom;
  opacity: 1;
}

h1 {
  font-size: 1rem;
  margin: 0;
  padding: 1%;
  max-height: 3vh;
  letter-spacing: 0.02em;
  background: linear-gradient(
      to top,
      #000000a6 0%,
      #000000a6 1px,
      transparent 1.1px
    )
    no-repeat;
  background-size: 0 100%;
  transition: background-size 1s ease;
}

.aboutmecontent {
  margin: 0;
  padding: 1%;
  width: 73%;
  height: 100%;
}
h1:hover {
  background-size: 100% 100%;
}

/* ACHIEVEMENTS PAGE*/

.achievements {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  right: -75%;
  margin: 0;
  padding: 0;
  z-index: 999;
  color: #000000a6;
  box-shadow: -10px 2px 20px black;
  opacity: 1;
  background: linear-gradient(to top, #000000a6 0%, #000000a6 99vw) no-repeat;
  background-position: top;
  background-size: 100% 0;
  transition: color 2s, background-size 1.5s, right 1s ease-in-out;
  border-left: thin #000000;
  background-color: #48484882;
  overflow: hidden;
}
.achievementsopen {
  right: -10%;
  transition: color 2s, background-size 1.5s, right 1s ease-in-out;
}

.achievements:hover {
  cursor: pointer;
  color: rgb(240, 246, 122);
  background-size: 100% 100%;
  background-position: bottom;
  opacity: 1;
}
h2 {
  font-size: 1rem;
  margin: 0;
  padding: 1%;
  max-height: 3vh;
  letter-spacing: 0.02em;
  background: linear-gradient(
      to top,
      #000000a6 0%,
      #000000a6 1px,
      transparent 1.1px
    )
    no-repeat;
  background-size: 0 100%;
  transition: background-size 1s ease;
}
h2:hover {
  background-size: 100% 100%;
}
.achievementscontent {
  margin: 0;
  padding: 1%;
  width: 73%;
  height: 100%;
}

/* CONTACT PAGE */

.contact {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: flex-start;
  max-height: 100%;
  width: 100%;
  height: 100%;
  right: -87%;
  margin: 0;
  padding: 0;
  z-index: 1000;
  color: #000000a6;
  box-shadow: -10px 2px 20px black;
  opacity: 1;
  background: linear-gradient(to top, #000000a6 0%, #000000a6 99vw) no-repeat;
  background-position: top;
  background-size: 100% 0;
  transition: color 2s, background-size 1.5s, right 1s ease-in-out;
  border-left: thin #000000;
  background-color: #c1c1c194;
}
.contactopen {
  right: -25%;
  transition: color 2s, background-size 1.5s, right 1s ease-in-out;
}

.contact:hover {
  cursor: pointer;
  color: rgb(239, 173, 98);
  background-size: 100% 100%;
  background-position: bottom;
  opacity: 1;
}
h3 {
  font-size: 1rem;
  margin: 0;
  padding: 1%;
  max-height: 3vh;
  letter-spacing: 0.02em;
  background: linear-gradient(
      to top,
      #000000a6 0%,
      #000000a6 1px,
      transparent 1.1px
    )
    no-repeat;
  background-size: 0 100%;
  transition: background-size 1s ease;
}
h3:hover {
  background-size: 100% 100%;
}
.contactcontent {
  margin: 0;
  padding: 1%;
  width: 73%;
  height: 100%;
}

/* MEDIA QUERIES*/

@media screen and (max-width: 1200px) {
  .aboutme {
    flex-direction: column-reverse;
    right: -60%;
    bottom: 70%;
    background: linear-gradient(to top, #000000a6 0%, #000000a6 99vw) no-repeat;
    background-position: top;
    background-size: 100% 0;
    transition: color 2s, background-size 1.5s, bottom 1.8s,
      right 1s ease-in-out;
    border-bottom: thin #000000;
  }
  .aboutmeopen {
    right: 0;
    bottom: 0;
    transition: color 2s, background-size 1.5s, bottom 1.8s,
      right 1s ease-in-out;
  }

  .aboutme:hover {
    background-size: 100% 100%;
    background-position: bottom;
    opacity: 1;
  }
  h1,
  h2,
  h3 {
    bottom: 1px;
    background: none;
    font-size: small;
  }
  .aboutmecontent {
    margin-top: 20%;
    padding-top: 20%;
    width: 73%;
    height: 100%;
  }
  .achievements {
    position: absolute;
    flex-direction: column-reverse;
    right: -70%;
    bottom: 80%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000000a6 0%, #000000a6 99vw) no-repeat;
    background-position: top;
    background-size: 100% 0;
    transition: color 2s, background-size 1.5s, bottom 1.8s,
      right 1s ease-in-out;
    border-bottom: thin #000000;
    background-color: #48484882;
  }
  .achievementsopen {
    right: -10%;
    bottom: 10%;
    transition: color 2s, background-size 1.5s, bottom 1.8s,
      right 1s ease-in-out;
  }

  .achievements:hover {
    background-size: 100% 100%;
    background-position: bottom;
    opacity: 1;
  }

  .achievementscontent {
    margin-top: 20%;
    padding-top: 20%;
    width: 73%;
    height: 100%;
  }
  .contact {
    position: absolute;
    flex-direction: column-reverse;
    right: -80%;
    bottom: 90%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000000a6 0%, #000000a6 99vw) no-repeat;
    background-position: top;
    background-size: 100% 0;
    transition: color 2s, background-size 1.5s, bottom 1.7s,
      right 1s ease-in-out;
    border-bottom: thin #000000;
    background-color: #c1c1c194;
  }
  .contactopen {
    right: -25%;
    bottom: 25%;
    transition: color 2s, background-size 1.5s, bottom 1.7s,
      right 1s ease-in-out;
  }

  .contact:hover {
    background-size: 100% 100%;
    background-position: bottom;
    opacity: 1;
  }

  .contactcontent {
    margin-top: 20%;
    padding-top: 20%;
    width: 73%;
    height: 100%;
  }
}
